.about-cover {
    background: url("../img/about-cover.png");
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.about-cover h1 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: var(--clear-white);
    margin-left: 11.45%;
    padding-top: 72px;
}

.about-circles {
    width: 234px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    position: absolute;
    top: 68px;
    right: -31px;
}

.about-circle {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 3px solid var(--clear-white);
    box-sizing: border-box;
}

.circle-gray {
    background-color: var(--clear-white);
}

.about-fb {
    padding: 120px 0 120px 0;
    overflow: hidden;
}

.about-fb-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 11.45% 0 11.45%;
}

.about-fb-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 11.45% 0 11.45%;
    padding-top: 120px;
}

.about-fb-text {
    max-width: 445px;
}

.about-fb-1 .about-fb-text {
    margin-right: 20px;
}

.about-fb-2 .about-fb-text {
    margin-left: 20px;
}

.about-fb-text h2 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
    color: var(--dark-navy);
}

.about-fb-text p {
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: var(--dim-grey);
    margin-top: 24px;
}

.about-fb-circles-1 {
    width: 445px;
    height: 445px;
    background: url("../img/about-fb-img1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: relative;
}

.about-fb-circles-2 {
    width: 445px;
    height: 445px;
    background: url("../img/about-fb-img2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: relative;
}

.about-fb-gray-circle-1 {
    width: 445px;
    height: 445px;
    position: absolute;
    background-color: var(--light-grey);
    border-radius: 50%;
    top: 0;
    right: -509px;
}

.about-fb-gray-circle-2 {
    width: 445px;
    height: 445px;
    position: absolute;
    background-color: var(--light-grey);
    border-radius: 50%;
    top: 0;
    left: -509px;
}

.about-fb-circles-1 img {
    position: absolute;
    left: -125px;
    bottom: 38px;
}

.about-or-line {
    display: none;
}

.about-fb-circles-2 img {
    position: absolute;
    top: 8px;
    left: -550px;
}

.about-sb {
    margin: 0 11.45% 0 11.45%;
    padding-bottom: 120px;
}

.about-sb h2 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: var(--dark-navy);
    margin-bottom: 104px;
}

.about-sb-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.about-sb-card {
    max-width: 350px;
}

.about-sb-card-img-1 {
    width: 240px;
    height: 240px;
    background: url('../img/about-card-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.about-sb-card-img-2 {
    width: 240px;
    height: 240px;
    background: url('../img/about-card-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.about-sb-card-img-3 {
    width: 240px;
    height: 240px;
    background: url('../img/about-card-3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.about-sb-orange-circle {
    width: 96px;
    height: 96px;
    position: absolute;
    left: calc(50% - 96px / 2);
    bottom: -55px;
    background-color: var(--yellow);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: var(--dark-navy);
}

.about-sb-card h4 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1.07143px;
    color: var(--dark-navy);
    margin-top: 87px;
    margin-bottom: 27px;
}

.about-sb-card p {
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--dim-grey);
}

.faq-block {
    margin: 0 11.45% 0 11.45%;
    padding-bottom: 160px;
}

.faq-block h2 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: var(--dark-navy);
}

.howItWorks, .safeDriving {
    display: grid;
    grid-template-columns: minmax(auto, 350px) minmax(auto, 730px);
    grid-gap: 30px;
    margin-top: 64px;
}

.howItWorks h3,
.safeDriving h3 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.78571px;
    color: var(--dark-navy);
}

.howItWorks ul,
.safeDriving ul {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 16px;
}

.howItWorks ul li,
.safeDriving ul li {
    list-style-type: none;
    background-color: var(--snow);
    padding: 32px 40px;
    cursor: pointer;
}

.howItWorks ul li:hover,
.safeDriving ul li:hover {
    background-color: var(--light-yellow);
}

.question-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.howItWorks h4,
.safeDriving h4 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: var(--dark-navy);
}

.howItWorks img,
.safeDriving img {
    display: block;
}

.howItWorks p,
.safeDriving p {
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: var(--dark-navy);
    margin-top: 24px;
}

.answerNone {
    display: none;
}

.answerDisplay {
    display: block;
}











@media screen and (max-width: 1340px) {
    
    .about-fb-circles-1 img {
        left: 20px;
    }
}

@media screen and (max-width: 1000px) {

    .about-fb {
        padding: 144px 0 120px 0;
    }
    
    .about-fb-1 {
        flex-direction: column-reverse;
        justify-content: center;
        margin: 0 11.45% 0 11.45%;
    }
    
    .about-fb-2 {
        flex-direction: column;
        justify-content: center;
        margin: 0 11.45% 0 11.45%;
        padding-top: 120px;
    }

    .about-fb-circles-1 img {
        left: -124px;
    }

    .about-or-line {
        display: block;
        width: 200px;
        height: 15px;
        background-color: var(--yellow);
        position: absolute;
        bottom: 38px;
        right: -350px;
    }

    .about-fb-text {
        max-width: 573px;
        text-align: center;
    }

    .about-fb-1 .about-fb-text {
        margin-right: 0;
    }
    
    .about-fb-2 .about-fb-text {
        margin-left: 0;
    }

    .about-fb-text h2 {
        margin: 56px auto 0 auto;
    }

    .about-fb-text p {
        margin-top: 40px;
    }

    .about-fb-2 .about-fb-text h2 {
        max-width: 457px;
    }

    .about-sb-cards {
        grid-template-columns: auto;
        column-gap: normal;
        row-gap: 55px;
        justify-content: center;
        align-items: center;
    }

    .about-sb-card {
        max-width: 457px;
    }

    .faq-block {
        margin: 0 5.20% 0 5.20%;
        padding-bottom: 120px;
    }

    .howItWorks, .safeDriving {
        grid-template-columns: 100%;
        grid-gap: 32px;
    }

    .howItWorks ul li,
    .safeDriving ul li {
        padding: 32px 32px 32px 40px;
    }

    .howItWorks h3,
    .safeDriving h3 {
        text-align: center;
    }

    .howItWorks ul,
    .safeDriving ul {
        grid-gap: 24px;
    }
}

@media screen and (max-width: 730px) {

    .about-or-line {
        display: none;
    }

    .about-fb-circles-1 img {
        left: -8px;
        bottom: 40px;
    }
}

@media screen and (max-width: 545px) {

    .about-fb {
        padding: 72px 0 120px 0;
    }
    
    .about-cover {
        background: url("../img/about-cover375.png");
        width: 100%;
        height: 160px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .about-cover h1 {
        margin: 0 auto;
        padding-top: 60px;
        text-align: center;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.78px;
    }

    .about-circles {
        display: none;
    }

    .about-fb-1 {
        margin: 0 8.53% 0 8.53%;
    }
    
    .about-fb-2 {
        margin: 0 8.53% 0 8.53%;
    }

    .about-fb-circles-1,
    .about-fb-circles-2 {
        width: 311px;
        height: 311px;
    }
    
    .about-fb-gray-circle-1,
    .about-fb-gray-circle-2 {
        display: none;
    }

    .about-fb-circles-2 img {
        position: absolute;
        top: -8px;
        left: auto;
        right: -5px;
    }

    .about-fb-text h2 {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.42px;
    }

    .about-fb-text p {
        margin-top: 32px;
    }

    .about-sb {
        margin: 0 8.53% 0 8.53%;
        padding-bottom: 145px;
    }

    .about-sb h2 {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.42px;
        margin-bottom: 64px;
    }

    .about-sb-card h4 {
        margin-top: 64px;
    }

    .faq-block {
        margin: 0 8.53% 0 8.53%;
    }

    .howItWorks, .safeDriving {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07px;
        margin-top: 48px;
    }

    .howItWorks ul,
    .safeDriving ul {
        grid-gap: 16px;
    }

    .howItWorks ul li,
    .safeDriving ul li {
        padding: 32px 28px 32px 32px;
    }

    .howItWorks h3,
    .safeDriving h3 {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.42px;
    }
}

@media screen and (max-width: 320px) {

    .about-fb-circles-1,
    .about-fb-circles-2 {
        width: 240px;
        height: 240px;
    }
}