.locations-cover {
    background: url("../img/careers-locations-cover.png");
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.locations-cover h1 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: var(--clear-white);
    margin-left: 11.45%;
    padding-top: 72px;
}

.locations-circles {
    width: 234px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    position: absolute;
    top: 68px;
    right: -31px;
}

.locations-circle {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 3px solid var(--clear-white);
    box-sizing: border-box;
}

.circle-gray {
    background-color: var(--clear-white);
}

.world-map {
    margin: 120px 11.45% 120px 11.45%;
    position: relative;
    box-sizing: content-box;
}

.world-map img {
    width: 100%;
    height: auto;
}

.city {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: var(--dark-navy);
    background-color: var(--yellow);
    width: 17%;
    height: 13.25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quatr {
    width: 11.97%;
    height: 31.43%;
    background-color: var(--yellow);
    position: absolute;
    left: calc(50% - (11.97% / 2));
    bottom: calc(-31.43% / 2);
    transform: rotate(45deg);
}

.new-york {
    position: absolute;
    left: 12.8%;
    top: 13%;
}

.london {
    position: absolute;
    left: 35.31%;
    top: 3.31%;
}

.yokohama {
    position: absolute;
    right: 5.94%;
    top: 14.36%;
}

.jakarta {
    position: absolute;
    right: 12.80%;
    top: 45.8%;
}

.city-375 {
    display: none;
}

.messageUs {
    margin: 0 11.45% 0 11.45%;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messageUs-text {
    max-width: 826px;
    display: grid;
    grid-template-columns: minmax(auto, 351px) minmax(auto, 445px);
    grid-gap: 30px;
    align-items: center;
    margin-right: 20px;
}

.messageUs-text h2 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: var(--dark-navy);
}

.messageUs-text p {
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: var(--dim-grey);
}

.messageUs button {
    width: 180px;
    height: 53px;
    color: var(--clear-white);
    background-color: var(--yellow);
    border: none;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
}

.messageUs button:hover {
    box-sizing: border-box;
    border: 3px solid var(--yellow);
    color: var(--yellow);
    background-color: inherit;
    transition: 0.2s;
    cursor: pointer;
}




@media screen and (max-width: 1280px) {

    .messageUs {
        margin: 0 11.45% 0 11.45%;
        padding-bottom: 120px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .messageUs-text {
        max-width: 826px;
        grid-template-columns: 100%;
        grid-gap: 40px;
        align-items: center;
        text-align: center;
        margin-right: 0;
    }

    .messageUs button {
        margin-top: 40px;
    }
}

@media screen and (max-width: 1000px) {

    .world-map {
        margin: 144px 5.20% 64px 5.20%;
    }

    .city {
        font-size: 13px;
        line-height: 28px;
        letter-spacing: -0.58px;
        width: 17.8%;
        height: 9.69%;
    }

    .quatr {
        width: 9.43%;
        height: 35.37%;
        left: calc(50% - (9.43% / 2));
        bottom: calc(-35.37% / 2);
    }

    .new-york {
        position: absolute;
        left: 13.8%;
        top: 15%;
    }
    
    .london {
        position: absolute;
        left: 35.31%;
        top: 7%;
    }
    
    .yokohama {
        position: absolute;
        right: 5.5%;
        top: 19%;
    }
    
    .jakarta {
        position: absolute;
        right: 12.80%;
        top: 49%;
    }

    .messageUs-text {
        max-width: auto;
    }
    
    .messageUs-text h2 {
        max-width: 457px;
        margin: 0 auto;
    }
    
    .messageUs-text p {
        max-width: 573px;
    }
}

@media screen and (max-width: 575px) {

    .locations-cover h1 {
        margin: 0 auto;
        text-align: center;
    }

    .locations-circles {
        display: none;
    }
}

@media screen and (max-width: 545px) {

    .locations-cover {
        background: url("../img/careers-locations-cover375.png");
        width: 100%;
        height: 160px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .locations-cover h1 {
        padding-top: 60px;
        text-align: center;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.78px;
    }

    .world-map {
        margin: 72px 8.53% 40px 8.53%;
    }

    .city {
        width: 5.14%;
        height: 10.52%;
        border-radius: 50%;
    }

    .city span {
        display: none;
    }

    .quatr {
        display: none;
    }

    .new-york {
        position: absolute;
        left: 20%;
        top: 19%;
    }
    
    .london {
        position: absolute;
        left: 41%;
        top: 9%;
    }
    
    .yokohama {
        position: absolute;
        right: 12%;
        top: 22%;
    }
    
    .jakarta {
        position: absolute;
        right: 20%;
        top: 53%;
    }

    .city-375 {
        display: block;
        margin: 0 8.53% 72px 8.53%;
    }

    .city-375 ul {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 16px;
    }

    .city-375 li {
        list-style-type: none;
        font-family: 'Space Mono';
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        letter-spacing: -1.07143px;
        color: var(--dark-navy);
        padding: 22px 0;
        background-color: var(--light-yellow);
    }

    .messageUs {
        margin: 0 8.53% 0 8.53%;
        padding-bottom: 72px;
    }

    .messageUs-text {
        grid-gap: 32px;
    }

    .messageUs-text h2 {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.42px;
    }

    .messageUs button {
        margin-top: 32px;
    }
}